<h2>Methods run, sorted chronologically</h2><h3>&gt;&gt; means before, &lt;&lt; means after</h3><p/><br/><em>Default suite</em><p/><small><i>(Hover the method name to see the test class name)</i></small><p/>
<table border="1">
<tr><th>Time</th><th>Delta (ms)</th><th>Suite<br>configuration</th><th>Test<br>configuration</th><th>Class<br>configuration</th><th>Groups<br>configuration</th><th>Method<br>configuration</th><th>Test<br>method</th><th>Thread</th><th>Instances</th></tr>
<tr bgcolor="7be3c5">  <td>18/04/23 19:10:40</td>   <td>0</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="AddDeal.CreateWithExistingUser()[pri:0, instance:testingFramework.AddDeal@26be92ad]">CreateWithExistingUser</td> 
  <td>main@655381473</td>   <td></td> </tr>
<tr bgcolor="7be3c5">  <td>18/04/23 19:10:52</td>   <td>11805</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="AddDeal.CreateWithNewUser()[pri:0, instance:testingFramework.AddDeal@26be92ad]">CreateWithNewUser</td> 
  <td>main@655381473</td>   <td></td> </tr>
<tr bgcolor="e8a876">  <td>18/04/23 19:10:31</td>   <td>-8487</td> <td>&nbsp;</td><td title="&gt;&gt;TestHelper.StartTesting()[pri:0, instance:testingFramework.AddDeal@26be92ad]">&gt;&gt;StartTesting</td> 
<td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td>  <td>main@655381473</td>   <td></td> </tr>
<tr bgcolor="e8a876">  <td>18/04/23 19:11:01</td>   <td>20866</td> <td>&nbsp;</td><td title="&lt;&lt;TestHelper.TestCompleted()[pri:0, instance:testingFramework.AddDeal@26be92ad]">&lt;&lt;TestCompleted</td> 
<td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td>  <td>main@655381473</td>   <td></td> </tr>
</table>
